.footer {
    background-color: var(--twitter-color);
    /* height: 45px; */
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 16px;
}
.footer_empty {
    /* flex: 3; */
}
.footer_btn {
    /* background-color: var(--twitter-color) !important; */
   
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 24px !important;
    height: 40px !important;
    border: 1px #fff solid !important;
}
.footer_label {
    flex: 6;
    color: #fff;
}
.footer_label>h1 {
    font-size: 24px;
}
.footer_label>h2 {
    font-size: 14px;
}