.mobileSidebar {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    /* background-color: red; */
    align-items: center;
    align-self: center;
    justify-content: space-around;
    border-top: 1px solid var(--twitter-background);
}
.mobileSidebar div {
    flex: 1;
    display: flex;
    justify-content: center;
}