.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post_body {
    flex: 1;
    padding: 10px;
}
.post_headerDes {
    margin-bottom: 10px;
    font-size: 15px;
    color: gray;
}
.post_avatar {
    padding: 10px;
}
.tab_box {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--twitter-background);
    padding-top: 32px;
    margin-bottom: 20px;
}
.tab_box div {
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}
.tab_boxForYou {
    border-bottom: 3px solid var(--twitter-color);

}
.post_box {
    position: relative;
}
.del_icon {
    position: absolute;
    top: 0;
    right: 24px;
}