.mobileFeed_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.mobileFeed_avatar {
    position: absolute !important;
    top: 10px;
    left: 10px;
}
.mobileFeed_twitterIcon {
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-top: 10px;
}
.addIcon {
    /* font-size: 64px; */
    border: 1px solid var(--twitter-background);
    border-radius: 50%;
    color: var(--twitter-color);
    position: fixed;
    bottom: 200px;
    right: 32px;
    z-index: 99;
    font-size: 64px !important;
    background: #fff;
}