.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post_body {
    flex: 1;
    padding: 10px;
}
.post_headerDes {
    margin-bottom: 10px;
    font-size: 15px;
    color: gray;
}
.post_avatar {
    padding: 10px;
}
.time_box {
    font-size: 12px;
    color: #655e5e;
}