.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px soild var(--twitter-background);
    padding-right: 10px;
}
.tweetBox > form {
    display: flex;
    flex-direction: column;
}
.tweetBox_input {
    padding: 20px;
    display: flex;
}
.tweetBox_input_box {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}
.tweetBox_btn {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px !important;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}