.view {
    flex: 1;
    border-right: 1px solid var(--twitter-background);
    /* min-width: fit-content; */
    overflow-y: scroll;
}
.view::-webkit-scrollbar {
    display: none;
}
.view {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.view_header {
    display: flex;
    align-items: center;
    padding: 16px;
}
.view_headerText {
    padding-left: 8px;
}
.view_body > p {
    font-size: 32px;
    color: #222;
    padding-left: 16px;
}
.view_back {
    display: flex;
    padding: 16px;
    padding-bottom: 0;
    border-bottom:  1px solid var(--twitter-background);
}
.view_back > h2 {
    padding-left: 8px;
}
.time {
    font-size: 16px;
    color: #655e5e;
    padding-left: 16px;
}